body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 14px;
    z-index: 1000;
}

.dashboard-container {
    flex: 1;
    width: 90%;
    height: 90%;
    margin: 10% auto auto auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dashboard-content {
    display: flex;
    width: 90%;
    height: 90%;
    justify-content: space-between;
    align-items: flex-start;
    gap:5px;
}


/* styles.css */
.sidebar {
    width: 200px; /* Set the width as needed */
    max-height: 400px; /* Set a maximum height */
    overflow-y: auto; /* Enable vertical scrolling if needed */
    background-color: #f0f0f0; /* Optional background color */
}


#itemList {
    list-style-type: none; /* Remove default list styling */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
}


.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}

.chart-row {
    flex:0.7;
    margin-bottom: 30px;
    display: flex; /* Use flexbox for layout */
    justify-content: center; /* Center content */
}

.chart-container {
    flex: 1; /* Allow containers to grow */
    margin: 0 10px; /* Horizontal margin */
    min-width: 300px; /* Minimum width for chart containers */
    max-width: 800px; /* Maximum width for chart containers */
    position: relative; /* Establish a positioning context */
}

#combinedChart {
    width: 100% !important; /* Force the canvas to fill the container */
    height: 100% !important; /* Force the canvas to fill the container */
}

canvas {
    background-color: white;
    border: 1px solid #ccc;
    height: 450px; /* Reduced height for charts */
}

@media (max-width: 768px) {
    header {
        font-size: 20px; /* Smaller font size for header */
    }
    footer {
        font-size: 12px; /* Smaller font size for footer */
    }
    .chart-container {
        min-width: 100%; /* Full width on smaller screens */
        max-width: 100%; /* Prevent overflow */
        margin: 10px 0; /* Vertical margin for stacked layout */
    }
    canvas {
        height: 250px; /* Smaller height for charts on mobile */
    }
}

/* Additional styles for login page */
.login-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 100px auto; /* Center the login form */
}

.login-container h2 {
    text-align: center;
    margin-right: 30px;
    margin-bottom: 20px; /* Space below the title */
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 85%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 90%;
    padding: 8px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

.message {
    margin-top: 10px;
    color: red;
    text-align: center; /* Center the message text */
}


    /* Additional styles for the login button */
.login-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Make the link behave like a button */
    margin-right: 80px; /* Space to the right of the button */
}

.login-button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

header {
    display: flex; /* Use flexbox for header layout */
    justify-content: space-between; /* Space between title and button */
    align-items: center; /* Center vertically */
    padding: 20px; /* Added padding for better spacing */
    background-color: #333; /* Ensure header has a background color */
    color: #fff; /* White text for visibility */
}

.company-title {
    margin-left: 20px; /* Space to the left of the company name */
}



.download-icon {
    position: absolute; /* Position relative to the chart container */
    top: 7%; /* Center vertically */
    right: 10px; /* Distance from the right */
    transform: translateY(-50%); /* Center the icon vertically */
    display: inline-block;
    font-size: 24px; /* Adjust the size as needed */
    color: #61c240; /* Icon color */
    text-decoration: none; /* Remove underline */
    background-color: white; /* Optional: add background for better visibility */
    padding: 5px; /* Optional: add some padding */
}

.download-icon:hover {
    color: #92a82e; /* Darker color on hover */
    background-color: #f0f0f0; /* Change background color on hover */
}


.share-icon {
    position: absolute; /* Position relative to the chart container */
    top: 16%; /* Center vertically */
    right: 10px; /* Distance from the right */
    transform: translateY(-50%); /* Center the icon vertically */
    display: inline-block;
    font-size: 24px; /* Adjust the size as needed */
    color: #61c240; /* Icon color */
    text-decoration: none; /* Remove underline */
    background-color: white; /* Optional: add background for better visibility */
    padding: 5px; /* Optional: add some padding */
}


.share-icon:hover {
    color: #92a82e; /* Darker color on hover */
    background-color: #f0f0f0; /* Change background color on hover */
}


/* Share Button */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.email {
    width: 85%;
    padding: 8px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    border-radius: 4px;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 300px; /* Could be more or less, depending on screen size */
    height: 300px ;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}



.whatsapp-icon {
    position: absolute; /* Position relative to the chart container */
    top: 26%; /* Center vertically */
    right: 10px; /* Distance from the right */
    transform: translateY(-50%); /* Center the icon vertically */
    display: inline-block;
    font-size: 24px; /* Adjust the size as needed */
    color: #61c240; /* Icon color */
    text-decoration: none; /* Remove underline */
    background-color: white; /* Optional: add background for better visibility */
    padding: 5px; /* Optional: add some padding */
}


.whatsapp-icon:hover {
    color: #92a82e; /* Darker color on hover */
    background-color: #f0f0f0; /* Change background color on hover */
}
